<h3>Pokemon {{pagination.firstResult}} to {{pagination.lastResult}}</h3>
<ol start={{pagination.firstResult}}>
  {{#each items}}
    <li>{{this.name}}</li>
  {{/each}}
</ol>
{{paginator pagination 5}}
