<h3>Pokemon {{results.pagination.firstResult}} to {{results.pagination.lastResult}}</h3>
<ol start={{results.pagination.firstResult}}>
  {{#each results.items}}
    <li>{{this.name}}</li>
  {{/each}}
</ol>
{{paginator results.pagination 5}}
